@using M_tracker.Models.ViewModels
@model GroupExpensesVM

<div class="container">
    <div class="row" style="margin-top:5%">
        <div class="col-6" style="float:none;margin:auto"><h2>Group Expenses Manage </h2></div>
    </div>
    <div class="row" style="margin-top:2%">
        <div class="col-3">
            <div class="form-group">
                <label for="date" class="col-sm-1 col-form-label">From</label>
                <div class="input-group date" id="txtDateFrom">
                    <input type="text" class="form-control" id="TxtFrom">
                    <span class="input-group-append">
                        <span class="input-group-text bg-white d-block">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label for="date" class="col-sm-1 col-form-label">To</label>
                <div class="input-group date" id="txtDateTo">
                    <input type="text" class="form-control" id="TxtTo">
                    <span class="input-group-append">
                        <span class="input-group-text bg-white d-block">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-3" style="margin-top:2%">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                </symbol>

            </svg>
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                <div>
                    Total Expense $: <span id="txtalert" style="color:black">0.00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:2%">
        <div class="col-2">
            <label asp-for="GroupExpensesManage.GroupTypeId"></label>
            <select asp-for="GroupExpensesManage.GroupTypeId" asp-items="@Model.GroupList as IEnumerable<SelectListItem>" class="form-select" id="drpGroup">
                <option>--SELECT--</option>
            </select>
        </div>
        <div class="col-2">
            <label asp-for="GroupExpensesManage.ExpensesTypeId"></label>
            <select asp-for="GroupExpensesManage.ExpensesTypeId" asp-items="@Model.ExpensesType as IEnumerable<SelectListItem>" class="form-select" id="drpExpenses">
                <option>--SELECT--</option>
            </select>
        </div>
        <div class="col-2">
            <label asp-for="GroupExpensesManage.Description"></label>
            <textarea class="form-control" style="height:5%" id="txtDescription"></textarea>
        </div>
        <div class="col-3">
            <label asp-for="GroupExpensesManage.Amount"></label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" onkeyup="this.value=this.value.replace(/[^\d]/,'')" id="txtamount" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">.00</span>
            </div>
            <span id="txterror" class="text-danger"></span>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-success" id="AddProdBtn" style="margin-top:10%">Add</button>
            <button type="button" class="btn btn-danger" id="ClearBtn" style="margin-top:10%">Clear</button>
            <button type="submit" class="btn btn-success" id="btnSave" style="margin-top:10%">Save</button>
        </div>
        <div class="row" style="margin-top:2%">
            <table id="tblGroup" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Amout</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts{
<script src="~/js/GroupExpenses.js"></script>

    }
