@model ExpensesType

<div class="container" style="margin-top:5%">
    <div class="row">
        <div class="col-6" style="float:none;margin:auto;">
            <h2>Manage Expenses Types</h2>
        </div>
        <div class="row">
            <div class="col-12 text-end">

                <a onclick="showInPopup('@Url.Action("CreateType","ExpensesType",null,Context.Request.Scheme)','New Transaction')" class="btn btn-success text-dark" style="font-weight:bold" >
                    <i class="bi bi-plus-circle"></i> &nbsp; Create Type
                </a>

            </div>
        </div>

    </div>
    <div class="row" style="margin-top:5%">
        <table id="tblTypes" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Created Date</th>
                    <th>Icon</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>

                </div>
                <div class="modal-body">
                        <p id="commentdesc"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


@section Scripts{
<script src="~/js/ExpensesTypes.js"></script>
}