@using M_tracker.Models.ViewModels
@model GroupUserVM

<div class="container" style="margin-top:5%">
    <div class="row">
        <div class="col-6" style="float:none;margin:auto"><h2>Manage Group Users</h2></div>
    </div>

    <form method="post" asp-action="InsertUpdateUser" asp-controller="GroupUser">
        <div class="row" style="margin-top:4%">
            <input asp-for="GroupTypeUser.Id" hidden />
             <input asp-for="GroupUser.Id" hidden />
            <div class="col-3">
                <label></label>
                <div class="input-group custom-search-input">
                    @if (Model.GroupTypeUser.Id != 0)
                    {
                        <input asp-for="GroupTypeUser.UserId" id="txtSearch" type="text" class="form-control" placeholder="Search By UserName" disabled />
                    }
                    else
                    {
                        <input asp-for="GroupTypeUser.UserId" id="txtSearch" type="text" class="form-control" placeholder="Search By UserName" />
                    }

                    <input asp-for="UserIdGet" type="text" id="txtSearchid" hidden />
                </div>
            </div>
            <div class="col-2">
                <label asp-for="GroupTypeUser.GroupTypeId"></label>
                @if (Model.GroupTypeUser.Id != 0)
                {
                    <select asp-for="GroupTypeUser.GroupTypeId" asp-items="@Model.GroupTypeList as IEnumerable<SelectListItem>" class="form-select" disabled>
                        <option selected disabled hidden>--SELECT--</option>
                    </select>
                }
                else
                {
                    <select asp-for="GroupTypeUser.GroupTypeId" asp-items="@Model.GroupTypeList as IEnumerable<SelectListItem>" class="form-select">
                        <option selected disabled hidden>--SELECT--</option>
                    </select>
                }

                <span asp-validation-for="GroupTypeUser.GroupTypeId" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="GroupUser.IsActive"></label>
                <select asp-for="GroupUser.IsActive" class="form-select">
                    <option disabled selected>-- SELECT --</option>
                    <option value="True">YES</option>
                    <option value="False">NO</option>
                </select>

                <span asp-validation-for="GroupUser.IsActive" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="GroupUser.IsAdmin"></label>
                <select asp-for="GroupUser.IsAdmin" class="form-select">
                    <option disabled selected>-- SELECT --</option>
                    <option value="True">YES</option>
                    <option value="False">NO</option>
                </select>
                <span asp-validation-for="GroupUser.IsAdmin" class="text-danger"></span>
            </div>
            <div class="col-3" style="margin-top:2%">

                @if (Model.GroupTypeUser.Id != 0)
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
                }
            </div>
        </div>
    </form>
    <div class="row" style="margin-top:5%">
        <table id="tblGroupUser" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Group Name</th>
                    <th>Active</th>
                    <th>Admin</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{

 @{<partial name="_ValidationScriptsPartial" /> }

<script src="~/js/GroupTypeUsers.js"></script>

}